.wrapperFull {
	width: 100%;
	background-color: darkslategrey;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
	/* position: -webkit-sticky;
  position: sticky;
  top: 0; */
}

.title {
	font-size: 25px;
	color: aqua;
}

.title span {
	color: chartreuse;
}
